# ─── Variables d'environnement globales pour Docker Compose ─────────────────
PORT=5000
MONGODB_URI=mongodb+srv://sadoscott25_db_user:TA0m1vdT1PtVou0K@cluster0.wmqwwnq.mongodb.net/coflow?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=djkdjkjkjk3j3d3d333fff3ff3f3
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5000
ARCJET_ENV=development
ARCJET_KEY=ajkey_01m1sn81wtevkbfre78b7e93mm
SEND_GRID_API=
FROM_EMAIL=contact@coflow.dev
NODE_ENV=development
